<h1>One to three sentence statement describing my app.</h1>

<%= link_to "Sign In", new_session_url, method: :get, class: 'btn btn-primary' %>
<%= link_to "Sign up!", new_user_url, method: :get, class: 'btn btn-primary' %>
