<h1 class="welcome">Welcome to Yup! -- a yelp clone!</h1>
<h3 class="summary">
  <a href="<%= new_session_url %>">Sign-in</a>
  and start browsing local businesses today!

  <br><br>
  <small>Developed by Scott McKenzie</small><br>
  <small>email: scott4mckenzie2@gmail.com</small>
</h3>
