<nav class="navbar navbar-default">
  <div class="logo">
    <img class="logo-pic" src="<%= image_path('yup-logo.png') %>">
  </div>
</nav>


<h1 class="welcome">Welcome to Yup! -- Inspired by Yelp!</h1>
<h3 class="summary">
  <a href="<%= new_session_url %>">Sign-in</a>
  and start browsing local businesses today!

  <br><br>
  <small>Developed by Scott McKenzie</small><br>
  <small>email: scott4mckenzie2@gmail.com</small>
</h3>
