<h1 class="title">Edit your profile</h1>
<br>

<form>
  <label id="first-name">First name:</label>
  <input class="form-control"
    id="first-name"
    type="text"
    name="first_name"
    id="first-name"
    value="<%= user.escape('first_name') %>">

  <br>

  <label id="last-name">Last name:</label>
  <input class="form-control"
    id="last-name"
    type="text"
    name="last_name"
    value="<%= user.escape('last_name') %>">

  <br>

  <label id="email">Email:</label>
  <input class="form-control"
    id="email"
    name="email"
    value="<%= user.escape('email') %>">

  <br>

  <label id="image-url">Avatar:</label>
  <input class="form-control"
    id="image-url"
    name="image_url"
    value="<%= user.escape('image_url') %>">

  <input class="btn btn-success" type="submit" value="Update!">
</form>
