<h1>Edit!</h1>
<br>

<form>
  <label id="first-name">Enter your first name:</label>
  <input class="form-control"
    id="first-name"
    type="text"
    name="first_name"
    id="first-name"
    value="<%= user.escape('first_name') %>">

  <br>

  <label id="last-name">Enter your last name:</label>
  <input class="form-control"
    id="last-name"
    type="text"
    name="last_name"
    value="<%= user.escape('last_name') %>">

  <br>

  <label id="email">Change email:</label>
  <input class="form-control"
    id="email"
    name="email"
    value="<%= user.escape('email') %>">

  <br>

  <label id="image-url">Change avatar:</label>
  <input class="form-control"
    id="image-url"
    name="image_url"
    value="Enter image url">

  <input class="btn btn-success" type="submit" value="Update!">
</form>
