<form>
  <label id="name">Name:</label>
  <input class="form-control"
    id="first-name"
    type="text"
    name="name"
    value="<%= user.escape('name') %>"><br>

  <label id="email">Email:</label>
  <input class="form-control"
    id="email"
    name="email"
    value="<%= user.escape('email') %>"><br>

  <label id="image-url">Avatar:</label>
  <input class="form-control"
    id="image-url"
    name="image_url"
    value="<%= user.escape('image_url') %>"><br>

  <input class="btn btn-success" type="submit" value="Update!">
</form>
