<h1>
  <%= user.escape('first_name') + " " %>
  <%= user.escape('last_name') + "'s profile" %>
</h1>

<ul class="nav nav-tabs">
  <li class="home" role="presentation"><a href="#home">Home</a></li>
  <li class="reviews" role="presentation"><a href="#home">Reviews</a></li>
  <li class="pull-right edit" role="presentation">
    <a href="#home"=>Edit Profile</a>
  </li>
</ul>

<div class="user-sidebar"></div>
<div class="user-main"></div>
