<h1>
  <%= user.escape('first_name') + " " %>
  <%= user.escape('last_name') + "'s profile" %>
</h1>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Reviews</a></li>
  <li class="pull-right edit" role="presentation">
    <a href="#">Edit Profile</a>
  </li>
</ul>

<div class="user-sidebar"></div>
<div class="user-main"></div>
