<h1><%= business.escape('name') %></h1>
<form class="review-form">
  <label id="rating"> Rating: </label>
  <input class="form-control" type="text" name="rating" id="rating">

  <label id="review-content"> Write your review! </label><br>
  <input id="review-content" class="form-control" name="content">

  <button type="submit" class="btn btn-danger">Review!</button>
</form>
