<form class="begin">
  <ul class="review-errors"></ul>
  <input id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="md" >

  <button class="close">&times;</button>

  <h3> Write your review! </h3><br>
  <textarea></textarea>

  <button type="submit" class="submit btn btn-danger">Review!</button>
</form>
