<form class="begin">
  <input id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="md" >

  <label id="review-content"> Write your review! </label><br>
  <textarea></textarea>

  <button type="submit" class="btn btn-danger">Review!</button>
</form>
