<img class="user-image" src="<%= user.escape('image_url') %>">

  <div class="stars">
    <div class="star">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
    </div>
    <div class="star">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
    </div>
    <div class="star">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
    </div>
    <div class="star">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
    </div>
    <div class="star">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
    </div>
  </div>

<div class="review-info">
  Review: <%= review.escape('content') + "asdfapghpawiueghs;awhjg;oahwr;ghawrlgd"%><br>
  Price: <%= review.escape('price') %>
</div>
