<img class="user-image" src="<%= user.escape('image_url') %>">

<div class="review-info">
  <input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
  <%= user.escape('first_name') %><br>
  <%= review.escape('content') %><br>
</div>
