<div id="best-of-main">
  <div class="title">Best of Yup!</div>

  <div class="outer">
    <div id="categories">
      <div class="category" id="outline"></div>

      <% categories.forEach(function (cat) { %>
        <div class="category"
             filter="<%= cat[1] || cat[0] %>">
          <div class="name"><%= cat[0] %></div>
        </div>
      <% }); %>
    </div>

    <div id="best-of-businesses">
      <div class="category-title">Food</div>
    </div>
  </div>
</div>
