<input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
<h4><%= business.escape('name') %></h4>

<img class="image" src="<%= business.escape('image_url') %>">
<% if (business.reviews().length !== 0) { %>
  <p>"<%= business.reviews().first().escape('content') %>"</p>
<% } %>

<small>
  -reviewer's name
</small>
