<img class="image" src="<%= business.escape('image_url') %>">
<div class="stars">
  <div>
    <img class="small-star" src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
  </div>
  <div>
    <img class="small-star" src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
  </div>
  <div>
    <img class="small-star" src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
  </div>
  <div>
    <img class="small-star" src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
  </div>
  <div>
    <img class="small-star" src="https://s-media-cache-ak0.pinimg.com/236x/e6/bf/d1/e6bfd1eeef6d96c98338afe8af0a2668.jpg">
  </div>
</div>

<h4><%= business.escape('name') %></h4>

<hr>
