<input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
<img class="image" src="<%= business.escape('image_url') %>">
<h4><%= business.escape('name') %></h4>
<hr>
