<img src="<%= imageUrl %>">

<input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
<small>
  <%= numReviews %>
</small>
<br>
<a href=""><%= name %></a>
