<h1>
  <%= business.escape('name') %>
<button class="add-review btn btn-danger">Review!</button>
</h1>

<input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="md" >
<div class="business-reviews"></div>
