<h1>
  <%= business.escape('name') %>
  <small><%= reviews.length %> reviews</small>
  <img class="logo" src="<%= business.escape('image_url')%>">
</h1>


<input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="md" >
<h5><%= business.escape('address') %></h5>

<div id="map-canvas"></div>
<button class="add-review btn btn-danger">Review this business!</button>
<div class="business-reviews"></div>
