<h1>
  <%= business.escape('name') %>
  <img class="business-image" src="<%= business.get('image_url') %>">
</h1>
<button class="category btn btn-primary"><%= business.escape('category') %></button>


  <button class="add-review btn btn-danger">
    Review this Company!
  </button>
</div>


<div class="business-reviews"></div>
