<img class="business-image" src="<%= image_url %>">
<h1>
  <%= business.get('name') %>
</h1>
<input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="md" >
<p class="review-count">(<%= business.get('review_count') %> reviews)</p>

<br>
<p class="address">
  <%= location %>
</p>
<div class="content-container">
  <div class="map">
    <button class="add-review btn">Review this business!</button>
  </div>

  <div class="business-reviews">
    <% if (business.get('review_count') === 0) { %>
      <div class="review-item empty">
        Be the first to review this company
        <button class="add-review btn">Review</button>
      </div>
    <% } %>
  </div>
</div>
