.business-show {
  padding: 10px;

  .content-container {
    display: flex;
    align-items: center;
  }

  .info {
    flex: 2;
    text-align: center;

    h1 {
      margin: 0px;
      font-weight: bold;
      color: #555;
    }

    .star-rating {
      display: inline-block;
      font-size: 2em;
    }

    small {
      font-size: 15px;
    }
  }

  .review {
    flex: 3;
    text-align: center;
  }

  button.add-review {
    background: #e50000;
    height: 35px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.54);
    font-size: 18px;
    font-weight: bold;
    color: white;

    &:hover {
      background: #AE100C;
    }
  }

  .location {
    display: inline-block;
    flex: 2;
    padding: 10px 10px 0px 10px;
    background: white;
    border: 1px solid #ccccc8;

    #map {
      width: 350px;
      height: 200px;
      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.54);
    }

    .map {
      width: 100%;
      height: 100%;
    }

    p.address {
      margin: 10px auto;
      width: 300px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .images {
    flex: 3;
    text-align: center;

    img {
      margin-left: 5px;
      width: 175px;
      height: auto;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.54);
    }
  }

  .business-reviews {
    margin: 20px auto;
    width: 90%;
  }

  .review-item {
    transition: 500ms;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 190px;
    background-color: #FFF;
    color: #777;
    border: 1px solid #CCC;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.54);
    border-radius: 5px;

    .content-container {
      position: relative;
      margin-bottom: 8px;
    }

    .context {
      position: absolute;
      top: 4px;
      right: 0px;
    }

    .rating-container {
      font-size: .7em;
    }

    img {
      margin-bottom: 10px;
    }

    .user-info {
      margin-right: 10px;
      float: left;
      text-align: center;

      a {
        font-weight: bold;
      }
    }
  }

  .empty {
    min-height: 120px;
    width: 520px;
    font-size: 19px;
  }

  .business-show h1 {
    margin-top: 0px;
    padding-top: 45px;

    small {
      font-size: 18px;
    }

    .logo {
      float: right;
      width: 250px;
      height: auto;
      margin-top: -33px;
      margin-right: 33px;
    }
  }

  .followed {

  }
}
