.business-show {
  height: 100%;

  .business-image {
    float: right;
    height: 200px;
    width: 200px;
  }
}

.stars {
  float: left;
  height: 75px;
  margin-left: 40px;
  width:  230px;
}

.star {
  position: relative;
  float: left;
  border-radius: 10px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 5px;

  img {
    position: absolute;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
  }
}

.category {
  float: left;
  margin-left: 40px;
}

.review-company {
  width: 700px;
  height: 80px;
}

.add-review {
  float: right;
  margin-right: 100px;
  width: 200px;
  height: 50px;
  margin-top: 15px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.business-reviews {
  float: left;
  width: 75%;
  margin-top: 50px;
  margin-left: 40px;
}

.review-item {
  height: 100px;
  margin-bottom: 40px;
  margin-top: 25px;

  .stars {
    float: left;
    height: 40%;

    .star {
      height: 20px;
      margin-right: 3px;
      margin-top: 0px;
      width: 20px;
    }
  }

  .review-info {
    float: left;
    padding-left: 30px;
    width: 80%;
  }

  .user-image {
    float: left;
    width: 100px;
    height: 100px;
  }
}
