.business-index-item {
  transition: 500ms;
  position: relative;
  padding: 10px 15px 10px 15px;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.54);
  font-size: 15px;

  a.name {
    font-size: 20px;
    font-weight: bold;
  }

  .content-container {
    margin-bottom: 5px;
  }

  .info {
    width: 75%;
  }

  .num-reviews {
    font-size: 13px;
    color: gray;
  }

  .star-rating {
    position: absolute;
    top: 0px;
    right: 20px;
  }

  .rating-container {
    font-size: .7em;
  }

  .image {
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
  }

  p {
    overflow: hidden;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &:hover {
    background: #d3d3d3;
    transition: 150ms;
  }
}

.business-mini-item {
  transition: 500ms;
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.3);

  img {
    float: left;
    margin-right: 8px;
    width: 60px;
    height: 60px;
  }

  .star-rating {
    display: inline-block;
    font-size: 1.5em;
  }

  a {
    font-weight: bold;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
