h1.activity {
  margin: 15px;
}

.feed-index-item {
  transition: 1s;
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  min-height: 215px;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);

  img {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 18px;
  }

  small {
    float: right;
  }
}
