.categories {
  height: 10px;

  .category-index-item {
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    height: auto;
    width: auto;
  }

  .category-index-item:last-child {
    border-right: 1px solid black;
  }

  .category-index-item:hover {
    background: #8EE5EE;
  }
}

.businesses {
  float: left;

  .business-index-item {
    transition: 1s;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    margin-left: 40px;
    box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
    min-height: 170px;
    width: 70%;
    font-size: 18px;
    padding: 15px;

    .image {
      float: left;
      height: 80px;
      width: 80px;
    }

    h4 {
      float: right;
      margin-top: -34px;
    }

    p {
      margin-left: 100px;
    }
  }

  .business-index-item:first-child{
    border-top: 1px solid black;
  }

  .business-index-item:hover {
    background: #d3d3d3;
    transition: 150ms;
    cursor: pointer;
  }
}
