.categories {
  float: left;
  margin-top: 30px;

  .category-index-item {
    float: left;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 18px;
    padding: 5px;
    height: auto;
    width: auto;
  }

  .category-index-item:last-child {
    border-right: 1px solid black;
  }

  .category-index-item:hover {
    background: #8EE5EE;
  }
}

.businesses {
  float: left;
  // margin-top: 30px;

  .business-index-item {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 6px 4px 9px 0px rgba(0,0,0,0.63);
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    font-size: 18px;
    padding: 5px;

    .image {
      float: left;
      height: 80px;
      width: 80px;
    }

    .small-star {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    h4 {
      margin-left: 120px;
    }

    p {
      margin-left: 100px;
    }
  }

  .business-index-item:first-child{
    border-top: 1px solid black;
  }
}
