.sign-in {
  margin-left: 40px;
  margin-top: 40px;
}

input.form-control {
  margin-bottom: 10px;
}

input.first-name {
  float: left;
  width: 49%;
}

input.last-name {
  float: right;
  width: 49%;
}

input.btn-success {
  border-radius: 5px;
  height: 40px;
  width: 100px;
}
