.errors {
  transition: 1s;
  float: left;
  color: red;
}

.sign-in {
  width: 40%;
  margin: auto;

  h1 {
    text-align: center;
  }

  .auth {
    width: 100%
  }

  input.form-control {
    margin-bottom: 10px;
    height: 50px;
  }

  input.first-name {
    float: left;
    width: 49%;
  }

  input.last-name {
    float: right;
    width: 49%;
  }

  input.btn {
    border-radius: 5px;
    margin-bottom: 8px;
    height: 50px;
    width: 100%;
  }

  input.btn-primary {
    width: 50%;
    margin-left: 25%;
  }
}

.backdrop {
  position: fixed;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.popup {
  padding: 5px;
  transition: 500ms;
  opacity: 1;
  position: absolute;
  left: 30%;
  top: 15%;
  z-index: 100;
  border: 1px solid black;
  border-radius: 4px;
  height: 430px;
  width: 560px;
  background: white;
  box-shadow: 1px 3px 9px 3px rgba(0, 0, 0, 0.63);
}

.sign-up {
  height: 400px;

  h1 {
    text-align: center;
  }
}
