.sign-in {
  width: 40%;
  margin: auto;

  h1 {
    text-align: center;
  }

  .auth {
    width: 100%
  }

  input.form-control {
    margin-bottom: 10px;
    height: 50px;
  }

  input.first-name {
    float: left;
    width: 49%;
  }

  input.last-name {
    float: right;
    width: 49%;
  }

  input.btn-success {
    border-radius: 5px;
    height: 50px;
    width: 100%;
  }
}

.backdrop {
  position: fixed;
  z-index: 50;
  // background: rgba(157, 157, 157, 0.29);
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.popup {
  transition: 500ms;
  opacity: 1;
  position: absolute;
  padding-top: 20px;
  left: 30%;
  top: 15%;
  z-index: 100;
  border: 1px solid black;
  border-radius: 4px;
  height: 45%;
  width: 37%;
  background: white;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
}
