#content {
  background-color: #EFEFEF;
  border: none;
  margin: 0 auto;
  padding: 20px 20px 40px 50px;
  width: 1200px;
  height: 100%;
  min-height: 900px;
}

#sidebar-left {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
  min-width: 240px;
  max-width: 240px;
  border-right: 1px solid rgb(197, 189, 189);

  img {
    width: 200px;
    height: 200px;
  }

  .user-info {
    float: left;
  }
}

form.button_to {
  float: left;
}

.welcome, .summary {
  text-align: center;
}

.main {
  display: flex;
}
