#content {
  background: white;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  width: 1200px;
  height: 100%;
  min-height: 843px;
}

form.button_to {
  float: left;
}


// button.sign-out {
  // float: right;
  // margin-right: 10px;
  // margin-top: -37px;
//   height: 200px;
//   width: 200px;
// }
