#content {
  background-color: #EFEFEF;
  padding: 20px 20px 40px 20px;
  width: 43%;
  min-width: 600px;
  height: 100%;
  min-height: 900px;
}

#sidebar-left {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 200px;
  max-width: 200px;
  border-right: 1px solid #c5bdbd;

  img {
    width: 175px;
    height: 175px;
    margin-bottom: 8px;
  }

  .user-info {
    float: left;
  }

  h4 {
    font-size: 20px;
  }
}

#sidebar-right {
  margin-top: 20px;
  border-left: 1px solid #c5bdbd;
  padding-left: 35px;

  h1.title {
    font-size: 17px;
    width: 554px;
    margin-bottom: 0px;
  }

  h2.title {
    position: fixed;
    top: 90px;
    width: 554px;
    font-size: 20px;
  }

  .categories {
    position: fixed;
    top: 145px;
    height: 50px;
    width: 400px;

    .category-index-item {
      float: left;
      border-radius: 5px;
      margin-right: 5px;
      font-size: 18px;
      color: #b30000;
      padding: 5px;
      height: auto;
      }

    .category-index-item:hover {
      background: #d3d3d3;
      cursor: pointer;
    }
  }
}

form.button_to {
  float: left;
}

.welcome, .summary {
  text-align: center;
}

.main {
  display: flex;
}

.glyphicon-ok-sign {
  font-size: 12px;
  color: green;
}

.glyphicon::before {
  margin-right: 5px;
}
