.map {
  right: -434px;
  width: 400px;
  position: absolute;
}

.business-show #map {
  position: fixed;
  border: 1px solid black;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
  height: 360px;
  width: 400px;
  margin-top: 1px;
}

.search-show #map {
  position: fixed !important;
  border: 1px solid black;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
  height: 360px;
  width: 400px;
}
