.map {
  display: inline-block;
  min-width: 450px;
}

.business-show #map {
  position: fixed;
  border: 1px solid black;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
  height: 360px;
  margin-top: 1px;

}

#sidebar-right #map {
  position: fixed !important;
  top: 200px;
  border: 1px solid black;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
  height: 360px;
  width: 400px;
}
