.business-show #map {
  position: absolute;
  border: 1px solid black;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
  height: 30%;
  width: 25%;
  margin-top: 1px;
}

.search-show #map {
  float: right;
  border: 1px solid black;
  box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.63);
  height: 360px;
  width: 400px;
  margin-top: 75px;
}
