nav.navbar.navbar-default {
  height: 80px;
  min-width: 1100px;
  margin-bottom: 0px;
  background-color: #b30000;
}

.navbar .navbar-form {
  width: 500px;
  margin-top: 28px;
  float: left;
}

.navbar .logo {
  float: left;
  margin-right: 30px;
  left: 20px;
  top: 4px;
}

.navbar .logo:hover {
  cursor: pointer;
}

.navbar .logo-pic {
  float: left;
  margin-top: 2px;
  margin-left: 20px;
}

.navbar .logo-pic:hover {
  background: #8E0606;
}

.navbar input.form-control {
  width: 400px;
  height: 40px;
  font-size: 17px;
}

.navbar button {
  background: #b30000;
  color: white;
}

button.search {
  transition: 500ms;
  height: 35px;
  font-size: 16px;
}

.navbar button.btn:hover {
  background: #8E0606;
  color: white;
}

.navbar button.btn.to-bestof {
  float: right;
  height: 37px;
  margin-top: 37px;
  margin-right: 5px;
}

.navbar button.btn.to-feed {
  float: right;
  height: 37px;
  margin-top: 37px;
  margin-right: 5px;
}

.navbar button.btn.to-account {
  float: right;
  height: 37px;
  margin-top: 37px;
}

.navbar button.sign-out {
  float: right;
  height: 37px;
  margin-right: 10px;
  margin-top: 37px;
}
