.begin {
  opacity: 0;
}

.business-show .backdrop {
  background: rgba(157, 157, 157, 0.29);
}

.review-form {
  opacity: 1;
  padding-left: 33px;

  button.close {
    margin-right: 15px;
    margin-top: -65px;
  }

  label#review-content {
    margin-top: 40px;
  }

  textarea {
    width: 500px;
    height: 150px;
    margin-bottom: 20px;
  }

  button.btn-danger {
    width: 175px;
    height: 50px;
    margin-left: 162px;
  }
}
