.search-show {
  display: flex;
  min-height: 100%;
  background-color: #EFEFEF;
  border-left: 1px solid rgb(160, 160, 160);
  border-right: 1px solid rgb(160, 160, 160);

  .results {
    flex: 8;
    padding: 10px;
  }

  .query {
    font-size: 24px;
    color: #555;
  }

  .suggestions {
    font-weight: bold;
    ul {
      font-weight: normal;
    }
  }

  .businesses {
    position: relative;
    margin: 10px auto;
    margin-bottom: 300px;
  }
}

#sidebar-right {
  flex: 5;
  position: relative;
  border-left: 1px solid #c5bdbd;

  #map {
    position: absolute;
    top: 25px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 340px;
    height: 340px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.54);
  }
}
