.query {
  font-size: 24px;
  color: #555;
}

.businesses {
  position: relative;
  margin-top: 20px;
  width: 100%;

  .business-index-item {
    transition: 500ms;
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.54);
    min-height: 170px;
    width: 98%;
    font-size: 18px;
    padding: 15px;
    padding-top: 0px;

    .rating-container {
      font-size: .7em;
    }

    .image {
      float: left;
      height: 80px;
      width: 80px;
    }

    h4 {
      float: right;
      margin-top: -35px;
      margin-bottom: 0px;
      max-width: 50%;
    }

    .test {
      float: left;
    }

    p {
      margin-left: 100px;
      min-height: 80px;
    }
  }

  .business-index-item:hover {
    background: #d3d3d3;
    transition: 150ms;
  }

  .business-index-item:last-child {
    margin-bottom: 600px;
  }
}

.prev-page, .next-page {
  margin: 10px;
}
