.user-sidebar {
  border-right: 1px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  width: 250px;
  height: 600px;

  img {
    height: 200px;
    width: 200px;
    display: block;
  }
}

.user-main {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  width: 500px;
  height: 400px;
}

.user-main input {
  clear: both;
  width: 60%;
  margin-bottom: 5px;
}
