.user-sidebar {
  float: left;
  border-right: 1px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;

  img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.user-main {
  margin-top: 20px;
  margin-left: 20px;
  background: gray;
  float: left;
  width: 500px;
  height: 400px;
}
