<h1 class="query">
  Searched for "<%= query %>"<br>
  <small>
    (Showing first <%= businesses.length %> results)
  </small>
</h1>

<div class="filters">
  <h1 class="title">Sort your search:</h1>
  <form>
    <div class="filter">Alphabetically <input class="name" type="checkbox"
      <% if (order == "name") { %>
        checked
      <% } %>>
    </div>

    <div class="filter">Most reviewed <input class="review_count" type="checkbox"
      <% if (order == "review_count") { %>
        checked
      <% } %>>
    </div>

    <div class="filter">Highest rated <input class="rating" type="checkbox"
      <% if (order == "rating") { %>
        checked
      <% } %>>
    </div>
  </form>
</div>

<div class="businesses"></div>
