<div class="results">

  <% if (foundResults) { %>
    <span class="query">Searched for "<%= query %>"</span>
    <small>(Showing first <%= businesses.length %> results)</small>
  <% } else if (foundResults === false) { %>
    <span class="query">No results found for "<%= query %>".</span>
    <div class="suggestions">
      Suggestions:
      <ul>
        <li>Check your spelling</li>
        <li>Try a more general search</li>
      </ul>
    </div>
  <% } %>

  <div class="businesses"></div>
</div>
