<div class="filters">
  <p>Narrow your search:</p>

  <form>
    <div class="filter">Alphabetically <input class="name" type="checkbox"
      <% if (order == "name") { %>
        checked
      <% } %>>
    </div>

    <div class="filter">Most reviewed <input class="review_count" type="checkbox"
      <% if (order == "review_count") { %>
        checked
      <% } %>>
    </div>

    <div class="filter">Highest rated <input class="rating" type="checkbox"
      <% if (order == "rating") { %>
        checked
      <% } %>>
    </div>
  </form>
</div>
<div class="categories"></div>
<div class="map"></div>
<h1 class="query">Searched for "<%= query %>"</h1>
<div class="businesses"></div>
