<nav class="navbar navbar-default">
  <button class="btn to-search">Back to Search</button>
  <button class="btn to-account">Profile</button>

  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="search btn">Search</button>
  </form>

  <button class="sign-out btn">Sign out</button>
</nav>
