<nav class="navbar navbar-default">
  <img class="logo-pic" src="http://files.onlyimage.com/free/previews/05c/brwn-pelican-in-winter-plumage-jupiter-flrida-63302.jpg">
  <button class="logo btn">Yup!</div>
  <button class="btn to-feed">Feed</button>
  <button class="btn to-account">Profile</button>
  <button class="sign-out btn">Sign out</button>

  <div class="search-forms">
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search: e.g. pizza">
      </div>
      <button type="submit" class="search btn">Search</button>
    </form>
  </div>
</nav>
