<nav class="navbar navbar-default">
  <button class="btn search">Back to Search</button>

  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn what">Search</button>
  </form>

  <button class="btn sign-out">Sign out</button>
</nav>
