<nav class="navbar navbar-default">
  <div class="logo">
    <img class="logo-pic" src="http://files.onlyimage.com/free/previews/05c/brwn-pelican-in-winter-plumage-jupiter-flrida-63302.jpg">
    <div class="Yup">Yup!</div>
  </div>

  <button class="btn to-feed">
    <div class="glyphicon glyphicon-globe"></div> Feed
  </button>

  <button class="btn to-account">
    <div class="glyphicon glyphicon-user"></div> Profile
  </button>

  <button class="sign-out btn">
    <div class="glyphicon glyphicon-log-out"></div> Sign out
  </button>

  <div class="search-forms">
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search: e.g. pizza">
      </div>
      <button type="submit" class="search btn">Search</button>
    </form>
  </div>
</nav>
