<nav class="navbar navbar-default">
  <form action="api/businesses/search" class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn">Search</button>
  </form>

  <button class="btn sign-out">Sign out</button>
</nav>
