<img src="<%= user.escape('image_url') %>">
<div class="user-info">
  Following: <%= user.follows().length %><br>
  Followers: <%= user.followers().length %><br>
  You've made <%= user.reviews().length %> reviews<br>
</div>
