<div class="map"></div>
<div class="filters">
  <form>
    <div class="filter">
      Alphabetically <input class="name" type="checkbox"
    </div>

    <div class="filter">
      Most reviewed <input class="review_count" type="checkbox"
    </div>

    <div class="filter">
      Highest rated <input class="rating" type="checkbox"
    </div>
  </form>
</div>
